/*------------------------------------*\
    $MIXINS
\*------------------------------------*/


trans($sec = 0.2s)
    transition all $sec ease-out

fs($size)
  font-size: $size
  font-size: calculateRem($size)