// Colors
$footer = #111

$pages = {

  home: #f1c40f,
  about: #16a085,
  projects: #e74c3c,
  contact: #2980b9
}

$social = {
  delicious: #248cff,
  facebook: #3b5998,
  github: #4183c4,
  linkedin: #007bb6,
  twitter: #00aced,
  youtube: #b00,
  bitbucket: #205081
}

z = {
    neg: -7,
    lowest: 1,
    low: 4,
    mid: 5,
    video: 6,
    header: 7,
    nav: 8,
    mini: 9,
    modal: 10,
    highest: 11
}


// Grid
$xsmall = 340px
$small = 500px
$med = 800px
$wide = 1200px
